body{
    background-color: hsl(233, 47%, 7%);
    width: 80%;
    margin: 5% 0px 0px 12%;
}
.main{
    background-color: hsl(244, 38%, 16%);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}
.text{
    width: 50%;
    margin: 20px;
}
h1{
    color: hsl(0, 0%, 100%);
}
.paragraph{
    color: hsla(0, 0%, 100%, 0.75);
    width: 76%;
    margin: 25px 0px 0px 40px;
    font-family: 'Lexend Deca', sans-serif;
}
.paragraph > h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
span{
    color:  hsl(277, 64%, 61%);
}
.number{
    color:hsl(0, 0%, 100%);;
}
ul{
    display: flex;
    list-style: none;
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 60px;
}
li{
    color:hsla(0, 0%, 100%, 0.6);
    margin: 10px 20px 0px 0px;
}
.card-img{
    background-color: hsl(277, 64%, 61%);
    border-radius: 0px 10px 10px 0px;
}
img{
    height: 100%;
    width: 100%;
    border-radius: 0px 10px 10px 0px;
    opacity: 0.5;
}